.card {
  background: #fff;
  border: 3px solid #000;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 8px 8px 0 #000;
}

.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  margin-left: auto;
}

.logo {
  height: 80px;
  width: auto;
  object-fit: contain;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

.input {
  width: 100%;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 12px;
  font-size: 16px;
}
.btn-main {
  width: 100%;
  background: #3bcc17;
  color: white;
  padding: 14px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 4px 4px 0 black;
}

.btn-pdf {
  width: 100%;
  background: #e43f1d;
  color: white;
  padding: 14px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 4px 4px 0 black;
}
